{% capture placeholder_image %}
  <placeholder-image data-block-id="{{ section.id }}-{{ block.id }}" data-type="product"></placeholder-image>
{% endcapture %}
{% capture placeholder_slide %}
  {% render 'slideshow-slide', index: 1, children: placeholder_image, class: 'product-media-container card-gallery__placeholder' %}
{% endcapture %}
{% capture slideshow_placeholder %}
  {% render 'slideshow', ref: 'slideshow', slides: placeholder_slide, slide_count: 1, attributes: 'disabled="true"' %}
{% endcapture %}
{% capture top_products %}
  {% for product in block.settings.collection_top.products limit: block.settings.products_limit %}
      {% assign collection_title = '' %}
      {% for collection in product.collections %}
          {% if collection.metafields.custom.level.value == "1" %}
              {% if collection.title != "Capsule" %}
                  {% assign collection_title = collection.title %}
              {% endif %}
          {% endif %}
      {% endfor %}
        <div class="swiper-slide capsule-slider-slide" data-id="{{ product.selected_or_first_available_variant.id }}" data-collection="{{ collection_title }}" data-price="{{ product.price |  divided_by: 100 }}">
            {% if product.featured_image != blank %}
            <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" loading="lazy">
            {% else %}
                {{ slideshow_placeholder }}
            {% endif %}
        </div>
    {% endfor %}
{% endcapture %}

{% capture bottom_products %}
  {% for product in block.settings.collection_bottom.products limit: block.settings.products_limit %}
      {% assign collection_title = '' %}
      {% for collection in product.collections %}
          {% if collection.metafields.custom.level.value == "1" %}
              {% if collection.title != "Capsule" %}
                  {% assign collection_title = collection.title %}
              {% endif %}
          {% endif %}
      {% endfor %}
        <div class="swiper-slide capsule-slider-slide" data-id="{{ product.selected_or_first_available_variant.id }}" data-collection="{{ collection_title }}" data-price="{{ product.price |  divided_by: 100 }}">
            {% if product.featured_image != blank %}
                <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" loading="lazy">
            {% else %}
                {{ slideshow_placeholder }}
            {% endif %}
        </div>
    {% endfor %}
{% endcapture %}

<div class="capsule-slider-block">
    <div class="capsule-slider-inner">
        <div class="capsule-slider-top swiper">
            <div class="swiper-wrapper">
                {% if block.settings.collection_top.products.size < 3 %}
                  {{ top_products }}
                  {{ top_products }}
                {% else %}
                    {{ top_products }}
                {% endif %}
            </div>
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>
        </div>
        <div class="capsule-slider-bottom swiper">
            <div class="swiper-wrapper">
                {% if block.settings.collection_bottom.products.size < 3 %}
                  {{ bottom_products }}
                  {{ bottom_products }}
                {% else %}
                  {{ bottom_products }}
                {% endif %}
            </div>
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Capsule slider block",
  "tag": null,
  "settings": [
    {
        "type": "collection",
        "id": "collection_top",
        "label": "Collection top"
    },
    {
        "type": "collection",
        "id": "collection_bottom",
        "label": "Collection Bottom"
    },
    {
      "type": "range",
      "id": "products_limit",
      "min": 4,
      "max": 10,
      "step": 1,
      "label": "Products limit",
      "default": 10
    }
  ],
  "presets": [
    {
        "name": "Capsule slider block"
    }
  ]
}
{% endschema %}