<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{% if template.suffix == "capsule" %}
  <style>
    .product-card-title {
      justify-content: center;
      text-align: center;
    }
  </style>
{% endif %}

<div class="section section--page-width capsule-section">
    <div class="custom-section-content">
        <div class="capsule-top">
            <div class="capsule-step active">
                <span class="capsule-step-number">1</span>
                <span class="capsule-step-title">{{ section.settings.first_step }}</span>
            </div>
            <span class="capsule-divider"></span>
            <div class="capsule-step">
                <span class="capsule-step-number">2</span>
                <span class="capsule-step-title">{{ section.settings.second_step }}</span>
            </div>
            <span class="capsule-divider"></span>
            <div class="capsule-step">
                <span class="capsule-step-number">3</span>
                <span class="capsule-step-title">{{ section.settings.third_step }}</span>
            </div>
        </div>

        <div class="capsule-first-step-body">

            <div class="capsule-content">
                {% if section.settings.heading != blank %}
                    <h1>{{ section.settings.heading }}</h1>
                {% endif %}
                {% if section.settings.text != blank %}
                    <p>{{ section.settings.text }}</p>
                {% endif %}
            </div>

            <div class="capsule-facets">
                {% content_for 'block',
                    type: 'filters',
                    id: 'filters',
                    results: collection,
                    results_size: collection.products_count,
                    capsule: true
                %}
            </div>

            <div class="capsule-slider-wrapper active">
                <div class="capsule-slider swiper">
                    <div class="swiper-wrapper">
                        {% for product in collection.products %}
                            <div
                                id="{{ section.id }}-{{ product.selected_or_first_available_variant.id }}"
                                class="swiper-slide product-grid__item product-grid__item--{{ forloop.index0 }}"
                                data-product-id="{{ product.selected_or_first_available_variant.id }}"
                                data-capsule="{{ product.handle }}"
                                ref="cards[]"
                            >
                                {% # theme-check-disable %}
                                {% content_for 'block', type: 'product-card', id: 'product-card', closest.product: product %}
                                {% # theme-check-enable %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="swiper-button-prev"></button>
                    <button class="swiper-button-next"></button>
                </div>
            </div>
            <div class="capsule-grid-wrapper">
                <div class="capsule-grid">
                    {% for product in collection.products %}
                        <div
                            id="{{ section.id }}-{{ product.selected_or_first_available_variant.id }}"
                            class="product-grid__item product-grid__item--{{ forloop.index0 }}"
                            data-product-id="{{ product.selected_or_first_available_variant.id }}"
                            data-capsule="{{ product.handle }}"
                            ref="cards[]"
                        >
                            {% # theme-check-disable %}
                            {% content_for 'block', type: 'product-card', id: 'product-card', closest.product: product %}
                            {% # theme-check-enable %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="capsule-edit-wrapper">
            <div class="capsule-edit-content">
                {% if section.settings.edit_heading != blank %}
                    <h2>{{ section.settings.edit_heading }}</h2>
                {% endif %}
                {% if section.settings.edit_text != blank %}
                    <p>{{ section.settings.edit_text }}</p>
                {% endif %}
            </div>

            <div class="capsule-edit-body">
                <div class="capsule-edit-left">
                    {% for product in collection.products %}
                        {% assign capsuleProducts = product.metafields.custom.capsule_products %}
                        {% if capsuleProducts != blank %}
                            <div class="capsule-edit-product" data-capsule="{{ product.handle }}">
                                <span class="capsule-edit-hide-hotspot">{{ 'actions.hide_hotspots' | t  }}</span>
                                <div class="capsule-edit-product-list">
                                    {% for capsuleProduct in capsuleProducts.value %}
                                        {% assign collection_title = '' %}
                                        {% for capsuleProductCollection in capsuleProduct.collections %}
                                            {% if capsuleProductCollection.metafields.custom.level.value == "1" %}
                                                {% if capsuleProductCollection.title != "Capsule" and capsuleProductCollection.handle != "all" and capsuleProductCollection.title != "All Products" and capsuleProductCollection.title != "Bottom" and capsuleProductCollection.title != "Top" and capsuleProductCollection.title != "Accessories" %}
                                                    {% assign collection_title = capsuleProductCollection.title %}
                                                {% endif %}
                                                {% if capsuleProductCollection.handle == "top" or capsuleProductCollection.handle == "tops" or capsuleProductCollection.handle == "jackets" or capsuleProductCollection.handle == "shirts" or capsuleProductCollection.handle == "blouses" %}
                                                    {% assign col_start = 3 %}
                                                    {% assign col_span = 4 %}
                                                    {% assign row_start = 1 %}
                                                    {% assign row_span = 4 %}
                                                {% elsif capsuleProductCollection.handle == "bottom" or capsuleProductCollection.handle == "skirts" or capsuleProductCollection.handle == "shorts" or capsuleProductCollection.handle == "jeans" or capsuleProductCollection.handle == "trousers" %}
                                                    {% assign col_start = 3 %}
                                                    {% assign col_span = 4 %}
                                                    {% assign row_start = 5 %}
                                                    {% assign row_span = 4 %}
                                                {% elsif capsuleProductCollection.handle == "bag" %}
                                                    {% assign col_start = 1 %}
                                                    {% assign col_span = 2 %}
                                                    {% assign row_start = 3 %}
                                                    {% assign row_span = 2 %}
                                                {% elsif capsuleProductCollection.handle == "hats" %}
                                                    {% assign col_start = 7 %}
                                                    {% assign col_span = 2 %}
                                                    {% assign row_start = 1 %}
                                                    {% assign row_span = 2 %}
                                                {% elsif capsuleProductCollection.handle == "glasses" %}
                                                    {% assign col_start = 7 %}
                                                    {% assign col_span = 2 %}
                                                    {% assign row_start = 3 %}
                                                    {% assign row_span = 2 %}
                                                {% elsif capsuleProductCollection.handle == "jewelery" %}
                                                    {% assign col_start = 1 %}
                                                    {% assign col_span = 2 %}
                                                    {% assign row_start = 1 %}
                                                    {% assign row_span = 2 %}
                                                {% elsif capsuleProductCollection.handle == "shoes" %}
                                                    {% assign col_start = 1 %}
                                                    {% assign col_span = 2 %}
                                                    {% assign row_start = 5 %}
                                                    {% assign row_span = 2 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="capsule-edit-product-item" style="grid-column: {{ col_start }} / span {{ col_span }}; grid-row: {{ row_start }} / span {{ row_span }}" data-collection="{{ collection_title }}" data-price="{{ capsuleProduct.price |  divided_by: 100 }}" data-id="{{ capsuleProduct.selected_or_first_available_variant.id }}">
                                            <img src="{{ capsuleProduct.featured_image | image_url }}" alt="{{ capsuleProduct.featured_image.alt }}" loading="lazy">
                                            <span class="capsule-edit-product-item-hotspot">
                                                <span></span>
                                            </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="capsule-edit-product capsule-edit-product-dynamic">
                       <span class="capsule-edit-hide-hotspot">{{ 'actions.hide_hotspots' | t  }}</span>
                       <div class="capsule-edit-product-list"></div>
                    </div>
                    <div class="capsule-edit-bottom">
                        <div class="capsule-edit-bottom-left">
                            <p class="capsule-edit-label">
                                {{ 'content.cart_estimated_total' | t }}
                            </p>
                            <p class="capsule-edit-price"></p>
                        </div>
                        <button class="capsule-review-button">
                            {{ 'actions.capsule_review' | t }}
                        </button>

                        {%- form 'product', collection.products[0], novalidate: 'novalidate', data-type: 'add-to-cart-form', class: 'capsule-form hidden' -%}
                            <button type="submit" class="capsule-form-button">
                                {{ 'actions.capsule_add' | t }}
                            </button>
                        {%- endform -%}
                    </div>
                </div>
                <div class="capsule-edit-right">
                    <div class="capsule-edit-empty">
                        <div class="capsule-edit-quote">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0102 6.32071C9.8344 6.32071 9.68421 6.26158 9.5596 6.14333C9.43491 6.02188 9.3726 5.87646 9.3726 5.70707C9.3726 5.53768 9.43491 5.39386 9.5596 5.27561C9.68421 5.15416 9.8344 5.09344 10.0102 5.09344C10.186 5.09344 10.3362 5.15416 10.4608 5.27561C10.5855 5.39386 10.6478 5.53768 10.6478 5.70707C10.6478 5.87646 10.5855 6.02188 10.4608 6.14333C10.3362 6.26158 10.186 6.32071 10.0102 6.32071Z" fill="#202020"/>
                                <path d="M9.5739 8.08643V14.95H10.4321V8.08643H9.5739Z" fill="#202020"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" fill="#202020"/>
                            </svg>
                            <span>Pro Tip</span>
                        </div>

                        {% if section.settings.edit_subheading != blank %}
                            <h3>{{ section.settings.edit_subheading }}</h3>
                        {% endif %}
                        {% if section.settings.edit_subtext != blank %}
                            <p>{{ section.settings.edit_subtext }}</p>
                        {% endif %}
                    </div>

                    <div class="capsule-edit-right-selector">
                        <h4 class="capsule-edit-right-heading"></h4>
                        <div class="capsule-edit-grid">
                            {% assign target_collections = '' %}

                            {%- for collection in collections -%}
                            {% if collection.metafields.custom.level.value == "1" %}
                                {% assign target_collections = target_collections | append: collection.handle | append: ',' %}
                            {% endif %}
                            {%- endfor -%}

                            {% assign target_collections = target_collections | split: ',' %}

                            {%- for handle in target_collections -%}
                            {% assign collection = collections[handle] %}
                            {% if collection and collection.products_count > 0 %}
                                {% paginate collection.products by 1000 %}
                                {% for product in collection.products %}
                                    <div class="capsule-product-card"
                                        data-collection="{{ collection.title }}"
                                        data-price="{{ product.price | divided_by: 100 }}"
                                        data-id="{{ product.selected_or_first_available_variant.id }}">
                                        <div class="capsule-product-card-inner">
                                            <div class="capsule-product-card-img">
                                            <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" loading="lazy">
                                            </div>
                                            <div class="capsule-product-card-content">
                                            <p class="capsule-product-card-vendor">{{ product.vendor }}</p>
                                            <p class="capsule-product-card-title">{{ product.title }}</p>
                                            {% if product.metafields.custom.short_description.value != blank %}
                                                <p class="capsule-product-card-desc">{{ product.metafields.custom.short_description.value }}</p>
                                            {% endif %}
                                            <p class="capsule-product-card-price">{{ product.price | money_with_currency }}</p>
                                            </div>
                                        </div>
                                        <button class="capsule-product-card-replace-btn">Replace item</button>
                                        <button class="capsule-product-card-delete-btn hidden">Delete item</button>
                                    </div>
                                {% endfor %}
                                {% endpaginate %}
                            {% endif %}
                            {%- endfor -%}
                        </div>
                    </div>

                    <div class="capsule-edit-finalize hidden">
                        <div class="capsule-edit-finalize-top">
                            <div class="capsule-edit-finalize-left">
                                {% if section.settings.finalize_heading != blank %}
                                    <h2 class="capsule-edit-finalize-heading">{{ section.settings.finalize_heading }}</h2>
                                {% endif %}

                                {% if section.settings.finalize_text != blank %}
                                    <p class="capsule-edit-finalize-text">{{ section.settings.finalize_text }}</p>
                                {% endif %}
                            </div>
                            <p class="capsule-edit-size-guide">{{ 'products.product.size_guide' | t }}</p>
                        </div>

                        <div class="capsule-edit-finalize-grid">
                            {% assign target_collections = '' %}

                            {%- for collection in collections -%}
                            {% if collection.metafields.custom.level.value == "1" %}
                                {% assign target_collections = target_collections | append: collection.handle | append: ',' %}
                            {% endif %}
                            {%- endfor -%}

                            {% assign target_collections = target_collections | split: ',' %}

                            {%- for handle in target_collections -%}
                            {% assign collection = collections[handle] %}
                            {% if collection and collection.products_count > 0 %}
                                {% paginate collection.products by 1000 %}

                                {% assign seen = '' %}

                                {% for product in collection.products %}
                                    {% assign collection_title = '' %}

                                    {% for col in product.collections %}
                                    {% if col.metafields.custom.level.value == "1" 
                                            and col.title != "Capsule"
                                            and col.handle != "all"
                                            and col.title != "All Products"
                                            and col.title != "Bottom"
                                            and col.title != "Top"
                                            and col.title != "Accessories" %}
                                        {% assign collection_title = col.title %}
                                        {% break %}
                                    {% endif %}
                                    {% endfor %}

                                    {% if collection_title == '' %}
                                    {% break %}
                                    {% endif %}

                                    {% assign key = '|' | append: product.id | append: '|' %}
                                    {% unless seen contains key %}
                                    {% break %}
                                    {% endunless %}


                                    <div class="capsule-product-card active"
                                        data-collection="{{ collection_title }}"
                                        data-price="{{ product.price | divided_by: 100 }}"
                                        data-id="{{ product.selected_or_first_available_variant.id }}">
                                    <div class="capsule-product-card-inner">
                                        <div class="capsule-product-card-img">
                                        <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" loading="lazy">
                                        </div>
                                        <div class="capsule-product-card-content">
                                        <p class="capsule-product-card-vendor">{{ product.vendor }}</p>
                                        <p class="capsule-product-card-title">{{ product.title }}</p>
                                        {% if product.metafields.custom.short_description.value != blank %}
                                            <p class="capsule-product-card-desc">{{ product.metafields.custom.short_description.value }}</p>
                                        {% endif %}
                                        <p class="capsule-product-card-price">{{ product.price | money }}</p>
                                        </div>
                                    </div>
                                    <button class="capsule-product-card-replace-btn hidden">Replace item</button>
                                    <button class="capsule-product-card-delete-btn">Delete item</button>
                                    </div>
                                    {% assign seen = seen | append: key %}

                                {% endfor %}
                                {% endpaginate %}
                                {% endif %}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.js"></script>

<script src="{{ 'capsule.js' |  asset_url }}"></script>

{% schema %}
{
    "name": "Capsules section",
    "settings": [
        {
            "type": "text",
            "id": "first_step",
            "label": "First step",
            "default": "Choose Your Look"
        },
        {
            "type": "text",
            "id": "second_step",
            "label": "Second step",
            "default": "Customize Your Capsule"
        },
        {
            "type": "text",
            "id": "third_step",
            "label": "Third step",
            "default": "Select Item Details"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Create your perfect Look"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Start with a designer’s choice, then customize it to fit your style."
        },
        {
            "type": "text",
            "id": "edit_heading",
            "label": "Edit heading",
            "default": "Business summer"
        },
        {
            "type": "text",
            "id": "edit_text",
            "label": "Edit text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        },
        {
            "type": "text",
            "id": "edit_subheading",
            "label": "Edit subheading",
            "default": "Select an item on the left to start editing."
        },
        {
            "type": "text",
            "id": "edit_subtext",
            "label": "Edit subtext",
            "default": "Click on any item to edit or remove it, or tap on an empty spot to add a new piece to your look."
        },
        {
            "type": "text",
            "id": "finalize_heading",
            "label": "Finalize heading ",
            "default": "Finalize Your Capsule"
        },
        {
            "type": "text",
            "id": "finalize_text",
            "label": "Finalize text",
            "default": "Choose size and color for each item before adding to bag."
        }
    ],
    "presets": [
        {
            "name": "Capsules section"
        }
    ]
}
{% endschema %}