<div class="section section--page-width meet-section">
    <div class="custom-section-content">
        {% if section.settings.heading != blank %}
            <div class="meet-section-heading">
                {{ section.settings.heading }}
            </div>
        {% endif %}

        <div class="meet-section-body">
            <div class="meet-section-gallery">
                <div class="meet-section-gallery-column">
                    {% for block in section.blocks %}
                        <div class="meet-section-gallery-card">
                            <img src="{{ block.settings.small_image | image_url }}" alt="{{ block.settings.small_image.alt }}" loading="lazy">
                            <p class="meet-section-gallery-card-title">{{ block.settings.name }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="meet-section-gallery-image">
                    {% for block in section.blocks %}
                        <img src="{{ block.settings.big_image | image_url }}" alt="{{ block.settings.big_image.alt }}" loading="lazy" data-id="{{ block.id }}" {% if forloop.first %}class="active"{% endif %}>
                    {% endfor %}
                </div>
            </div>
            <div class="meet-section-slider-wrapper">
                <div class="meet-section-slider swiper">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            <div class="meet-section-content swiper-slide" id="{{ block.id }}">
                                <div class="meet-section-content-image">
                                    <img src="{{ block.settings.big_image | image_url }}" alt="{{ block.settings.big_image.alt }}">
                                </div>
                                {% if block.settings.name != blank %}
                                    <p class="meet-section-name">{{ block.settings.name }}</p>
                                {% endif %}
                                
                                {% if block.settings.description != blank %}
                                    <div class="meet-section-description">{{ block.settings.description }}</div>
                                {% endif %}

                                {% if block.settings.languages != blank %}
                                    <p class="meet-section-languages">{{ block.settings.languages }}</p>
                                {% endif %}

                                 {% if block.settings.features != blank %}
                                    {% assign items_features = block.settings.features | split: ',' %}
                                    <div class="meet-section-features">
                                        {% for feature in items_features %}
                                            <p class="meet-section-feature">{{ feature }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if block.settings.button != blank %}
                                    <dialog-component>
                                        <button on:click="/showDialog" class="meet-section-button">{{ block.settings.button }}</button>
                                        <dialog
                                            ref="dialog"
                                            class="dialog-modal meet-dialog color-{{ settings.drawer_color_scheme }}"
                                            scroll-lock
                                            >
                                            
                                            <h2>Book consultation</h2>

                                            {% assign form_id = section.id | prepend: 'ContactFormBook-' %}

                                            {%- form 'contact', id: form_id, class: 'contact-form__form' -%}
                                                {%- if form.errors -%}
                                                <div
                                                    class="contact-form__error"
                                                    tabindex="-1"
                                                    autofocus
                                                >
                                                    {{- 'icon-error.svg' | inline_asset_content -}}

                                                    {{- form.errors.translated_fields.email | capitalize }}
                                                    {{ form.errors.messages.email -}}
                                                </div>
                                                {%- endif -%}

                                                {%- if form.posted_successfully? -%}
                                                <div
                                                    class="contact-form__success"
                                                    tabindex="-1"
                                                    autofocus
                                                >
                                                    {{- 'icon-checkmark.svg' | inline_asset_content -}}
                                                    {{- 'blocks.contact_form.post_success' | t -}}
                                                </div>
                                                {%- endif -%}

                                                <div>
                                                    <label
                                                    for="ContactForm-name"
                                                    >
                                                    {{- 'blocks.contact_form.name' | t -}}
                                                    </label>
                                                    <input
                                                    type="text"
                                                    id="ContactForm-name"
                                                    class="contact-form__input"
                                                    autocomplete="name"
                                                    name="contact[name]"
                                                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.first_name }}{% endif %}"
                                                    placeholder="{{ 'blocks.contact_form.name' | t }}"
                                                    >
                                                </div>

                                                <div>
                                                    <label
                                                    for="ContactForm-phone"
                                                    >
                                                    {{- 'blocks.contact_form.phone' | t -}}
                                                    </label>
                                                    <input
                                                    type="tel"
                                                    id="ContactForm-phone"
                                                    class="contact-form__input"
                                                    autocomplete="tel"
                                                    name="contact[phone]"
                                                    pattern="[0-9\-]*"
                                                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                                                    placeholder="+971 00 000 0000"
                                                    >
                                                </div>

                                                <button
                                                    type="submit"
                                                    class="button submit-button size-style {{ block.settings.style_class }}"
                                                    style="{% render 'size-style', settings: block.settings %}"
                                                    {{ block.shopify_attributes }}
                                                    >
                                                    SEND
                                                </button>
                                            {%- endform -%}

                                        </dialog>
                                    </dialog-component>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="meet-section-navigation">
                    <button class="swiper-button-prev"></button>
                    <button class="swiper-button-next"></button>
                </div>
            </div>
        </div>
    </div>
</div>

{%  schema  %} 
    {
        "name": "Meet section",
        "settings": [
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading",
                "default": "<h2>Meet the Stylists</h2>"
            }
        ],
        "blocks": [
            {
                "type": "person",
                "name": "Person",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "small_image",
                        "label": "Small image"
                    },
                    {
                        "type": "image_picker",
                        "id": "big_image",
                        "label": "Big image"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Name"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "languages",
                        "label": "Languages"
                    },
                    {
                        "type": "text",
                        "id": "features",
                        "label": "Features"
                    },
                    {
                        "type": "text",
                        "id": "button",
                        "label": "Button"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "Button URL"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Meet section"
            }
        ]
    }
{% endschema %}